

#### Bank note authentication which determines the fetures of dataset whether the Bank note is authentic or not

In [83]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [84]:
df=pd.read_csv("BankNote_Authentication.csv")

In [85]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [87]:
df[df['class']==1]

#df[df["class"].isin([1])]  ----- this also works

      variance  skewness   curtosis  entropy  class
762   -1.39710   3.31910  -1.392700 -1.99480      1
763    0.39012  -0.14279  -0.031994  0.35084      1
764   -1.66770  -7.15350   7.892900  0.96765      1
765   -3.84830 -12.80470  15.682400 -1.28100      1
766   -3.56810  -8.21300  10.083000  0.96765      1
...        ...       ...        ...      ...    ...
1367   0.40614   1.34920  -1.450100 -0.55949      1
1368  -1.38870  -4.87730   6.477400  0.34179      1
1369  -3.75030 -13.45860  17.593200 -2.77710      1
1370  -3.56370  -8.38270  12.393000 -1.28230      1
1371  -2.54190  -0.65804   2.684200  1.19520      1

[610 rows x 5 columns]

In [88]:
## so independent features x  which are dependent on feature y
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [89]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [90]:
Y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [91]:
X.columns

Index(['variance', 'skewness', 'curtosis', 'entropy'], dtype='object')

In [92]:
df.columns

Index(['variance', 'skewness', 'curtosis', 'entropy', 'class'], dtype='object')

## Train test split

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.33, random_state=42)

In [95]:
### import Random forest classifier
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [96]:
y_pred=clf.predict(X_test)

In [97]:
### check accuracy

In [98]:
from sklearn .metrics import accuracy_score

In [99]:
score=accuracy_score(y_pred,y_test)

In [100]:
score

0.9933774834437086

In [101]:
## create pickle file

In [102]:
import pickle
pickle_out=open("bank_note_authentication_classifier.pkl",'wb')
pickle.dump(clf,pickle_out)
pickle_out.close()

In [103]:
### checking a row for prediction
clf.predict([[3,8,-2,-0]])[0]

0

In [104]:
### checking a row for prediction
clf.predict([[0,0,-2,-0]])[0]

1

SyntaxError: invalid syntax (<ipython-input-105-55c31c867409>, line 1)